<!DOCTYPE html>
<html lang="en">
    <!-- Header -->
    <%- include('../partials/header'); %>
    <body class="d-flex">
        <div class="py-5 px-3 mx-auto text-center" style="width:100%;max-width: 330px">
            <h1>Sign Up</h1><br>
            <form action="/register" method="POST">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="registerUsername" name="username" placeholder="username">
                    <label for="username">Username</label>
                </div>
                <div class="form-floating mb-5">
                    <input type="password" class="form-control" id="registerPassword" name="password" placeholder="password">
                    <label for="password">Password</label>
                </div>
                <button type="submit" class="w-100 btn btn-lg btn-primary">Sign Up</button>
            </form>
            <br>
            <hr>
            <p>Have an account? <a href="/login" class="text-decoration-none fw-bold">Log in</a></p>
        </div>
    </body>
</html>